@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



.modal .modal-header button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  left: 50%;
  letter-spacing: 1.5px;
  line-height: 90px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
}

.modal .modal-header button::before,
.modal .modal-header button::after {
  background-color: white;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.modal .modal-header button::before {
  top: 0;
  transform: rotate(45deg);
}

.modal .modal-header button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.modal .modal-header button:hover {
  color: #8A2387;
}

.modal .modal-header button:hover::before,
.modal .modal-header button:hover::after {
  height: 50px;
  transform: rotate(0deg);
}
